
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    padding: 20px;
}

h2 {
    color: #007BFF;
    padding-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
